@model WebSalesSystem.Models.Client

@{
    ViewData["Title"] = "Editar";
}

<h2>@ViewData["Title"]</h2>


<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />
    <div class="form-row">
        <div class="form-group col-md-4">
            <label asp-for="FirstName">Primeiro Nome *</label>
            <input asp-for="FirstName" class="form-control">
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="LastName">Sobrenome *</label>
            <input asp-for="LastName" class="form-control">
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Birth" class="control-label">Data de Nasc *</label>
            <input type="date" asp-for="Birth" class="form-control" />
            <span asp-validation-for="Birth" class="text-danger"></span>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="Cpf" class="control-label">Cpf *</label>
            <input asp-for="Cpf" class="form-control" />
            <span asp-validation-for="Cpf" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="Cell" class="control-label">Cell *</label>
            <input type="number" asp-for="Cell" class="form-control" />
            <span asp-validation-for="Cell" class="text-danger"></span>
        </div>

        <div class="form-group col-md-7">
            <label asp-for="Email" class="control-label">Email</label>
            <input type="email" asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="form-group col-md-3">
            <label asp-for="Cep" class="control-label">Cep</label>
            <input type="number" asp-for="Cep" class="form-control" />
        </div>
        <div class="form-group col-md-3">
            <label asp-for="State" class="control-label">Estado *</label>
            <select class="form-control" id="State" name="State">
                <option>AC</option>
                <option>PA</option>
                <option>RO</option>
                <option>RR</option>
                <option>TO</option>
                <option>MA</option>
                <option>PB</option>
                <option>PE</option>
                <option>PI</option>
                <option>RN</option>
                <option>SE</option>
                <option>GO</option>
                <option>MS</option>
                <option>MT</option>
                <option>ES</option>
                <option>MG</option>
                <option>RJ</option>
                <option>SP</option>
                <option>RS</option>
                <option>SC</option>
                <option>AM</option>
                <option>AP</option>
                <option>AL</option>
                <option>BA</option>
                <option>CE</option>
                <option>PR</option>
            </select>
        </div>
        <div class="form-group col-md-3">
            <label asp-for="City" class="control-label">Cidade *</label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="form-group col-md-4">
            <label asp-for="District" class="control-label">Bairro *</label>
            <input asp-for="District" class="form-control" />
            <span asp-validation-for="District" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="Street" class="control-label">Rua *</label>
            <input asp-for="Street" class="form-control" />
            <span asp-validation-for="Street" class="text-danger"></span>
        </div>
        <div class="form-group col-md-2">
            <label asp-for="HouseNumber" class="control-label">Numero *</label>
            <input type="number" asp-for="HouseNumber" class="form-control" />
            <span asp-validation-for="HouseNumber" class="text-danger"></span>
        </div>
    </div>


    <div class="form-group">
        <input type="submit" value="Salvar" class="btn btn-info" />
        <a asp-action="Index">Voltar</a>
    </div>
   
      
</form>



@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
